<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/warehouse/weddingdress/save}">
        <input type="hidden" name="id" th:if="${weddingdress}" th:value="${weddingdress.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="name" placeholder="请输入名称" th:value="${weddingdress?.name}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">库房</label>
            <div class="layui-input-inline">
                <select name="repository" mo:dict="REPOSITORY" mo-selected="${menu?.type}" mo-empty="" lay-verify="type"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">出厂编码</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="serial" placeholder="请输入出厂编码" th:value="${weddingdress?.serial}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">店内编码</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="identifier" placeholder="请输入店内编码" th:value="${weddingdress?.identifier}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">上传图片</label>
            <div class="layui-input-inline">
                <button type="button" class="layui-btn upload-image" name="image" up-field="path" up-url="/upload/image">
                    <i class="layui-icon"></i>上传图片
                </button>
            </div>
            <div class="upload-show"></div>
        </div>


        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${weddingdress?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>