<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="timo-detail-page">
        <div class="timo-detail-title">基本信息</div>
        <table class="layui-table timo-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>主键ID</th>
                    <td th:text="${weddingdress.id}"></td>
                    <th>名称</th>
                    <td th:text="${weddingdress.name}"></td>
                </tr>
                <tr>
                    <th>库房</th>
                    <td th:text="${weddingdress.repository}"></td>
                    <th>出厂编码</th>
                    <td th:text="${weddingdress.serial}"></td>
                </tr>
                <tr>

                    <th>店内编码</th>
                    <td th:text="${weddingdress.identifier}"></td>
                </tr>
                <tr>
                    <th>创建者</th>
                    <td th:text="${weddingdress.createBy?.nickname}"></td>
                    <th>更新者</th>
                    <td th:text="${weddingdress.updateBy?.nickname}"></td>
                </tr>
                <tr>
                    <th>创建时间</th>
                    <td th:text="${#dates.format(weddingdress.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <th>更新时间</th>
                    <td th:text="${#dates.format(weddingdress.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <th>备注</th>
                    <td th:text="${weddingdress.remark}" colspan="3"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>